* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Helvetica, Arial, sans-serif;

  /* LIGHT VARIABLES */

  --bg-color: rgb(rgb(245, 150, 30));
  --text: rgb(240, 240, 240);
  --box: rgb(125, 117, 225);
}

.dark-mode {
  /* DARK VARIABLES */
  --bg-color: rgb(rgb(245, 150, 30));
  --text: rgb(240, 240, 240);
  --box: rgb(125, 117, 225);
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

header {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
}

nav {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px 20px;
  border: 1px solid white;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px);
}

nav a.active {
  color: black;
  font-weight: bold;
  transform: scale(1.05);
}

nav a:hover {
  transform: scale(0.95);
}

nav a.active::after {
  width: 100%;
}

a {
  text-decoration: none;
  color: white;
}

a:link {
  color: black;
}

section {
  scroll-snap-align: start;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 0 15px;
}

.hero {
  background-color: rgb(245, 150, 30);
}

.hero__contact-me {
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-img {
  border: 1px solid black;
  height: 200px;
  width: 200px;
  border-radius: 12px;
  margin-top: 20px;
}

.section-2 {
  background-color: rgb(240, 145, 28);
}
.section-3 {
  background-color: rgb(235, 140, 26);
}

.experience-soprex {
  padding: 10px;
}

.section-4 {
  background-color: rgb(230, 135, 24);
}

.carousel-container {
  min-width: 300px;
  max-width: 600px;
  width: 100%;
  overflow: hidden;

  margin: 50px auto;
}

.carousel-track {
  display: flex;
  animation: scroll 10s linear infinite;
}

.carousel-item {
  margin: 0 10px;
  background: #045cba;
  color: white;
  text-align: center;
  font-size: 24px;
  border-radius: 8px;
  padding: 20px;
}

.carousel-img {
  width: 50px;
  height: 50px;
}

.contact-me-btn {
  padding: 10px;
  border: 1px solid black;
  border-radius: 12px;
  background: transparent;
}

.contact-me-btn:hover {
  background-color: rgb(132, 132, 243);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-650px);
  }
}

@media (min-width: 768px) {
  nav {
    flex-direction: row;
  }
}
