* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Helvetica, Arial, sans-serif;
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

header {
  position: fixed;
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  padding: 20px;
}

nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
}

nav a.active {
  color: black;
  font-weight: bold;
  transform: scale(1.1);
}

nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 2px;
  transition: width 0.3s ease;
}

nav a:hover {
  color: black;
}

nav a.active::after {
  width: 100%;
}

a {
  text-decoration: none;
  color: white;
}

a:link {
  color: black;
}

section {
  scroll-snap-align: start;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 30px;
}

.section-1 {
  background-color: rgb(245, 150, 30);
}
.section-2 {
  background-color: rgb(240, 145, 28);
}
.section-3 {
  background-color: rgb(235, 140, 26);
}
.section-4 {
  background-color: rgb(230, 135, 24);
}
.section-5 {
  background-color: rgb(225, 125, 22);
}
.section-6 {
  background-color: rgb(220, 115, 15);
}

@media (min-width: 768px) {
  nav {
    flex-direction: row;
  }
}
